*{
    width:100%;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    width:100%;
    background-color: #5d84f6;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        NAVIGATION BAR
~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

  
.topnav {
    display:flex;
    flex-direction:row;
    overflow: hidden;
    background-color: #333;
    width:50%;
    border-radius:8px;
    position: relative;
}

.navBackground{
    width:100%;
    background-color:#333;
    display:flex;
    flex-direction:row;
    border-radius:10px;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #fff200;
    color: gray;
}

.topnav a.active {
    /* background-color: #7158e2; */
    background-color: #5d84f6;
    color: white;
}

.mainLogo {
    height: 40px;
    width:auto;
    float:right;
    padding-top:10px;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        HOME PAGE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*CLOUD CONTENT*/
.mainDiv{
    position: relative;
    text-align: center;

}

/* .mainDiv img{
    margin:20%;
} */

.backgroundHome {
    width:65%;
    height:auto;
    /* margin-left:15%; */
    position:relative;
}

.greeting{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Cinzel", "Noto Serif";
    font-size:46px;
}

.instructions{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        LOGIN PAGE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.login {
    margin-top: 10%;
    border: 2px #fff20013 solid;
    border-radius: 10px;
    padding: 10px;
    background: #fff20035;
    background-image: url('/lyricGenie/images/genieLamp.png');
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        MEET THE TEAM PAGE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.icons {
    max-width: 50px;
    max-height: 50px;
    border: solid 2px transparent;
}

.icons:hover {
    border: solid #fff200;
    border-radius: 100%;
    background: #fff200;
}

/*ABOUT US BOXES*/

.boxes{
    background-color:rgba(87, 86, 86,0);
    text-align: center;
    font-size: 20;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxes-inside{
    margin:5px 30px 30px 30px;
}

.boxes-inside img{
    background-color:rgba(87, 86, 86, 0);
    border:none;
    width:33.33%px;
    height: 250px;
    border-radius:33%;
}


.card{
    margin-top:50px;
    background-color:rgba(87, 86, 86, 0);
    border:none;
}


.badge{
    margin-top:20px;
    background-color:rgba(87, 86, 86, 0);
    color:black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}


.name{
    font-size:20px;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        SONGS PAGE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.container-inner {
    width: 100%;
    position: relative;
    display: flex;
}

#search-bar {
    border: 2px solid #fff200;
    border-right: none;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    color: #9DBFAF;
    cursor: text;
    flex: 1;
}

#search-bar:focus {
    color: black;
}

.searchButton {
    width: 45px;
    height: 45px;
    border: 1px solid black;
    border-radius: 30px;
    background-color:  #fff200;
}

.searchButton:hover {
    background: #a80d91;
    cursor: pointer;
}

.searchResult {
    border: 10px rgba(0, 0, 0, 0.637) solid;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(221, 221, 221);
}

.container {
    width: 50%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-wrapper {
    display: flex;
}

/* Lyrics Formatting */

#songListContainer {
    text-align: center
}

#songList {
    width: 550px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin-top: 120px;
    margin-bottom: 60px;
}

#lyricsPlace {
    position: sticky;
    top: 200px;;
    margin-top: 150px;
    color: white;
    background-color: blue;
}

/* .searchButton {
    width: 45px;
    height: 45px;
    border: 1px solid black;
    border-radius: 30px;
    background-color:  #fff200;
} */